.main-Videos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    .videos-div {
        margin-left: 55px;
        .titulo-comida {
            width: 90%;
            color: red;
            font-family: "Times New Roman", Times, serif;
            font-size: 50px;
        }
    }













}